*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#0f1117;
    color:white;
    font-family:Arial, sans-serif;
}

.container{
    display:flex;
    min-height:100vh;
}

.sidebar{
    width:250px;
    background:#161b22;
    padding:20px;
    border-right:1px solid #30363d;
}

.sidebar h1{
    color:#8b5cf6;
    margin-bottom:5px;
}

.sub{
    color:#9ca3af;
    margin-bottom:25px;
}

.topic{
    background:#1f2937;
    padding:12px;
    border-radius:8px;
    margin-bottom:10px;
    cursor:pointer;
    transition:0.3s;
}

.topic:hover,
.topic.active{
    background:#8b5cf6;
}

.content{
    flex:1;
    padding:30px;
}

.card{
    background:#161b22;
    border:1px solid #30363d;
    border-radius:15px;
    padding:20px;
    margin-bottom:25px;
}

.header{
    display:flex;
    align-items:center;
    gap:10px;
    margin-bottom:15px;
}

.badge{
    background:#16a34a;
    padding:5px 10px;
    border-radius:20px;
    font-size:12px;
}

.medium{
    background:#f59e0b;
}

.desc{
    color:#cbd5e1;
    margin-bottom:15px;
}

pre{
    background:#0d1117;
    padding:20px;
    border-radius:10px;
    overflow-x:auto;
}

code{
    color:#7ee787;
    font-family:monospace;
    line-height:1.6;
}

@media(max-width:768px){

    .container{
        flex-direction:column;
    }

    .sidebar{
        width:100%;
    }
}
